.lead{
    margin: 0;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1440px){
    .lead{
        margin-top: 56px;
    }
}
@media screen and (max-width: 1279px){
    .lead{
        margin-top: 48px;
    }
} 