@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:  url("../font/Inter-Regular.woff") format("woff"),
          url("../font/Inter-Regular.woff2") format("woff2");     
}
@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: semi-bold;
    font-display: swap;
    src: url("../font/Inter-Bold.woff") format("woff"),
         url("../font/Inter-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: bold;
    font-display: swap;
    src: url("../font/Inter-Black.woff") format("woff"),
         url("../font/Inter-Black.woff2") format("woff2");
}