.intro {
  margin: 0;
  display: flex;
  justify-content: start;
  flex-direction: column;
}


@media screen and (min-width: 1280px){
  .intro{
    margin: 0 100px;
    margin-top: 92px;
  }
}

@media screen and (min-width: 1024px){
  .intro{
    margin-top: 92px;
  }
}

@media screen and (min-width: 768px){
  .intro{
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px){
  .intro{
    margin-top: 64px;
  }
}