.cards__links{
    margin:0;
    color: #ffffff;
    grid-area: links;
    align-self: end;
}
@media screen and (min-width: 1280px){
    .cards__links{
      width: 456px;
      height: 46px;
    }
  }
  @media screen and (min-width: 768px){
    .cards__links{
      width: 352px;
      height: 46px;
    }
  }
  @media screen and (max-width: 767px){
    .cards__links{
      width: 288px;
      height: 46px;
    }
  }