.cover__title {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  font-style: bold;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 1280px){
  .cover__title{
    top: 245px;
  }
}


@media screen and (min-width: 1024px){
  .cover__title{
    top: 195px;
  }
}

@media screen and (min-width: 1280px){
  .cover__title{
    top: 245px;
  }
}


@media screen and (min-width: 1024px){
  .cover__title{
    top: 195px;
  }
}


@media screen and (min-width: 768px){
  .cover__title{
    top: 80px;
    font-size: 72px;
    width: 560px;
  }
}


@media screen and (max-width: 767px) {
  .cover__title{
    top: 0px;
    font-size: 32px;
    width: 250px;
  }
}